html {
    background-color: #F8F0E3;
    /* background-color: black; */
}

p {
    font-family: Tahoma, sand-serif;
}

ul, ol {
    font-family:Tahoma, sans-serif;
}

ul {
    font-size: 25px;
    padding-bottom: 5px;
}

ol {
    font-size: 15px;
    margin: 0px 0px;
    padding-bottom: 5px;
}

.titleandimage {
    width: 500px;
    padding: 10px;
    background-color:white;
    margin: 10px auto 0px;
}

.maintitle {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    margin: 10px 0px;
    margin-top: 0px;
}



.recipeimage {
    padding-right: 0px;
    display:inline;
}

.description, .ingredients, .instructions {
    margin-left: 10px;
}

.description {
    padding: 0px;
}

.ingredients {
    padding: 0px;
}

.instructions {
    padding: 3px;
}

.descriptiontitle, .descriptiontext, .ingredientstitle, .ingredientstext, .instructionstitle, .instructionstext {
    text-align: left;
    background-color:white;
}

.descriptiontitle, .ingredientstitle, .instructionstitle {
    padding: 3px;
    padding-left: 10px;
}

.ingredientstext, .instructionstext {
    margin: 0px 0px;
}

.descriptiontitle {
    margin-bottom: 0px;
}

.ingredientstitle {
    margin: 0px 0px;
}

.instructionstitle {
    margin: 10px 0px 0px;
}

.descriptiontext {
    margin-top: 0px ;
    padding: 3px 3px 5px;
}

.ingredientstext {

}

.instructionstext {

}